body{
  font-family: raleway;
  font-size: 21px;
}


.smiley-item{
  font-size: 50px;
  text-shadow: 2px 2px #650707;
  animation: pulse 0.7s infinite linear;
  align-self: center;
  margin: 2px 5px;
}

@keyframes pulse{
  0%{
    transform: scale(1) rotate(0);
  }

  50%{
    transform: scale(1.5) rotate(180deg);
  }

  100%{
    transform: scale(1) rotate(360deg);
  }
}
